{% extends "skeleton.html" %}

{% block content %}
<div id="add-run">
    <form  action="/add-run" method="post">
        <label for="date">Run Date</label>
        <input id="date" name="date" type="datetime-local" value="{{ today }}">
        <label for="time">Run Time (hours)</label>
        <input id="time" name="time" type="number" min="0.0" step="0.001">
        <label for="distance">Run Distance (km)</label>
        <input id="distance" name="distance" type="number" min="0.0" step="0.001">
        <button value="submit">Submit Run</button>
    </form>
</div>
{% endblock content %}